:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  max-width: 100%;
  position: absolute;
  top: 60px;
}

.menu {
  width: 443px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.2rem;
}

.logo__subtitle {
  margin-top: 10px;
  text-align: center;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 13px;
  line-height: 110%;
  letter-spacing: 0.13rem;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  width: 100vw;
}

.list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .list__item .list__link {
  color: color-light-xl;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
}

.list .list__item .list__link_active {
  border-bottom: solid 3px #F1CDB3;
  color: #FAFAFA;
}

.list .list__item .list__link_disabled {
  color: #CDCDCD;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 180px;
  background: url(../../assets/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__image {
  width: 100vw;
  max-width: 698px;
  max-height: 728px;
}

.content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px;
}

.content-section__title {
  color: #FFFFFF;
  max-width: 310px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}

.content-section__subtitle {
  margin-top: 42px;
  padding-right: 42px;
  color: #CDCDCD;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
}

.content-section__button {
  margin-top: 40px;
  width: 207px;
  border-radius: 100px;
  border: none;
  padding: 15px 45px;
  background-color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.1rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 175px 100px 175px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 430px;
}

.about__title {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.2rem;
}

.about__title span {
  display: block;
}

.about__description {
  margin-top: 25px;
}

.about__description p {
  color: #4C4C4C;
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
}

.about__description p:nth-child(2) {
  margin-top: 25px;
}

.pets {
  padding-top: 80px;
  padding-bottom: 100px;
}

.pets__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__title {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.2rem;
  max-width: 400px;
  text-align: center;
}

.pets__title span {
  display: block;
}

.pets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pets__content .slider-button {
  border: 3px solid #F1CDB3;
  border-radius: 100%;
  padding: 19px;
  background: none;
}

.pets__content .slider-button_reverted {
  border: 3px solid #F1CDB3;
  border-radius: 100%;
  padding: 19px;
  background: none;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=style.css.map */