$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2; 
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C; 
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$start-screen-gradient-background: url(../../assets/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;                                   
$footer-gradient-background: url(../../assets/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

@mixin h2 {
    font: {
        family: Georgia;
        weight: 400;
        size: 44px;
    }
    line-height: 130%;
}

@mixin h3 {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 35px;
    }
    line-height: 130%;
    letter-spacing: 0.21rem;  
}

@mixin h4 {
    font: {    
        family: Georgia;
        style: normal;
        weight: normal;
        size: 20px;
    }
    line-height: 115%;
    letter-spacing: 0.12rem;  
}

@mixin h5 {
    font: {    
        family: Georgia;
        style: normal;
        weight: normal;
        size: 15px;
    }
    line-height: 110%;
    letter-spacing: 0.06rem; 
}

@mixin paragraph-l {
    font: {
        family: Arial;
        size: 15px;
    }
    line-height: 160%;
}

@mixin paragraph-s {
    font: {
        family: Arial;
        style: italic;
        weight: normal;
        size: 12px;
    }
    line-height: 150%;
}

@mixin logo_title {
    font: {
        family: Georgia;
        style: normal;
        weight: normal;
        size: 32px;    
    }
    line-height: 110%;
    letter-spacing: 0.192rem;
}

@mixin logo_subtitle {
    font: {
        family: Arial;
        size: 13px;
    }
    line-height: 110%;
    letter-spacing: 0.13rem;  
}

@mixin slider_button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: none; 
    border-radius: 100%;
    padding: 23px;
    background: none;
    box-shadow: inset 0 0 0 3px $color-primary;
    outline: none; 
    transition-duration: 0.5s; 
    
    &:hover {
        background-color: $color-primary-light;
        box-shadow: inset 0 0 0 2px $color-primary-light;
    }
}

@mixin button() {
    border-radius: 100px;
    cursor: pointer; 
    padding: 15px 45px;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.10rem;
    outline: none;
    transition-duration: 0.8s;
}

@mixin button_primary() {
    background-color: $color-primary;
    border: none;

    &:hover {
        background-color: $color-primary-light;
    }

    @include button;     
}

@mixin button_secondary() {
    box-shadow: inset 0 0 0 2px $color-primary;
    background: none;
    border: none;

    &:hover {
        box-shadow: inset 0 0 0 2px $color-primary-light;
        background-color: $color-primary-light;
    }
       
    @include button;     
}

:root {
    font-size: 10px;
}

* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.header {
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 60px;
}


.menu {
   width: 443px; 
   display: flex;
}

.wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 1200px;    
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    
    &__title {
        color: $color-primary;
        @include logo_title();
    }

    &__subtitle {
        margin-top: 10px;
        text-align: center;
        color: $color-light-xl;
        @include logo_subtitle();
    }
}

.list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width : 100%;

    .list__item {
        display: flex;
        align-items: center;

        .list__link {
            color: color-light-xl;
            @include paragraph-l();

            &_active {
                border-bottom: solid 3px $color-primary;
                color: $color-light-s;            
            }
            
            &_disabled {
                color: $color-dark-s;
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;    
}

.hero {
    display: flex;  
    padding-top: 180px;
    background: $start-screen-gradient-background; 
    
    &__content {
        display: flex;
    }

    &__image-wrapper {
        display: flex;
    }

    &__image {
        width: 100vw;
        max-width: 698px;
        max-height: 728px;
    }
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
        
    &__title {
        color: $color-light-xl;
        max-width: 310px;
        @include h2();   
    }
    
    &__subtitle {
        margin-top: 42px;
        padding-right: 42px;
        color: $color-dark-s;
        @include paragraph-l();  
    }
    
    &__button {
        margin-top: 40px;
        @include button_primary();      
    }
}

.about {
    display: flex;
    
    &__wrapper {
        width: 100%;
        display: flex;
        padding: 80px 175px 100px 175px;
        justify-content: space-between;
    }

    &__image-wrapper {
        display: flex;
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 430px;
    }

    &__title {
        span {
            display: block;
        }

        color: $color-dark-l;
        @include h3;
    }

    &__description {
        margin-top: 25px;

        p {
            & + p {
                margin-top: 25px;
            }

            color: $color-dark-xl;
            @include paragraph-l();
        }
    }
}

.pets {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: $color-light-l;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    &__button {
        @include button_primary();
    }

    &__title {
        span {
            display: block;
        }

        color: $color-dark-l;
        @include h3();
        max-width: 400px;
        text-align: center;
    }

    &__content {
        display: flex;
        align-items: center;

        .pets-cards {
            display: flex;
            padding: 0 8px;
                                 
        }

        .pets-card {
            display: flex;
            flex-direction: column;
            border-radius: 9px;
            margin: 60px 45px 59px;
            padding: 0 0;
            background-color: $color-light-s;

            &:hover {
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
            }
            
            &__image {
                width: 100%
                 
            }

            &__content {
                align-items: center;
                display: flex;
                flex-direction: column; 
                padding-bottom: 30px;  
            }

            &__title {
                @include h4;
                text-align: center;
                margin: 30px 0;
            }

            &__button {
                @include button_secondary();   
            }
        }

        .slider-button {
            @include slider_button();
        }
        
        .slider-button_reverted {
            @include slider_button();
            transform: rotate(180deg);
        }        
    }    
}


